{% block title %}Grades {% endblock %}
{% extends 'base.html.twig' %}
{% form_theme formGrade 'bootstrap_4_layout.html.twig' %}


{% block body %}
<div class="container-fluid">
        <h1 class="my-5">Gestion des Grades</h1>
    
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom du grade</th>
                    <th>Pourcentage Pj</th>
                    <th>Pourcentage Pnj</th>
                </tr>
            </thead>
    
            <tbody>
                {% for Grade in ads %}
                <tr>
                    <td>{{Grade.id}}</td>
                    <td>{{Grade.nomGrade}}</td>
                    <td>{{Grade.pourcentPj}}</td>
                    <td>{{Grade.pourcentPnj}}</td>
                    <td>
                        <a href="{{ path ('admin_grade_edit',{'id':Grade.id}) }}"class="btn btn-primary"><i class="fa fa-edit"></i></a>
                        {% if app.user.roles[0]== "admin" %}
                        <a href="{{ path ('admin_grade_delete', { 'id':Grade.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <h2 class="my-5">Ajouter un Grade</h2>

{{form_start(formGrade)}}
{{form_widget(formGrade)}}
<button type="submit" class="btn btn-success">Enregistrer un grade</button>
{{form_end(formGrade)}}
{% endblock %}