{% block title %}Modifier mot de passe {% endblock %}
{% extends 'base.html.twig' %}
{% form_theme resetForm 'bootstrap_4_layout.html.twig' %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" type="text/css" href="{{ asset('/css/resetpassword.css') }}">
{% endblock %}

{% block body  %}


<div class="wrapper mt-5">
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div >
            <img src="https://cdn.discordapp.com/attachments/505075324191768577/505075841630208010/LogoLMB.png" id="icon" alt="User Icon" />
            <h1>Définir Nouveau Mot de Passe</h1>
          </div>
      
          <!-- reset Form -->
          
          {{form_start(resetForm)}}
               {{ form_row(resetForm.passwordUser)}}
    
               {{ form_row(resetForm.confirmPassword)}}
    
          <button type="submit" class="btn myButton mb-3">Enregistrer</button>
          {{form_end(resetForm)}}
      
      
        </div>
      </div>




{% endblock %}