{% extends 'base.html.twig' %}
{% block title %}Saisie{% endblock %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

{% endblock %}

{% form_theme Saisie 'bootstrap_4_layout.html.twig' %}

{% block body %}
{{form_start(Saisie)}}
{{form_widget(Saisie)}}
<button type="submit" class="btn btn-success">Valider la tournée</button>
{{form_end(Saisie)}}

<div class="row">
    <div class=" mt-5 col-lg-3" >
        <h1 class="text-center">Prime actuelle</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Prime</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="text-center">{{userrepo}}</th>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="col-lg-9">
        <h1 class="mt-5">Mes saisies</h1>

        <table class="table table-bordered display " id="table_id">
            <thead class=" text-dark">
                <tr>
                    <th>Date de la saisie</th>
                    <th>Vente</th>
                    <th>Modifications</th>
                </tr>
            </thead>

            <tbody>
                {% for Users in user %}
                <tr>
                    <th>{{Users.dateSaisie | date ('d/m/Y H:i')}}</th>
                    <th>{{Users.venteGrossiste}}</th>
                    <th>
                        <a href="{{path ('user_saisie_edit', {'id': Users.id}) }}" class="btn btn-primary" title="Editer la saisie"><i
                                class="fa fa-edit"></i></a>

                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% if app.user.roles[0]== "admin" or app.user.roles[0]== "DRH" %}
<hr class="mt-5">
<h1 class="mt-5">Saisies des Utilisateurs - PARTIE ADMIN</h1>

<table class="table table-bordered" id="table_admin">
    <thead class="text-dark">
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Date de la saisie</th>
            <th>Vente</th>
        </tr>
    </thead>
    <tbody>
        {% for allsaisie in allSaisie %}
        <tr>
            <th>{{allsaisie.getUser.prenomUser}}</th>
            <th>{{allsaisie.getUser.nomUser}}</th>
            <th>{{allsaisie.dateSaisie | date ('d/m/Y H:i')}}</th>
            <th>{{allsaisie.venteGrossiste}}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endif %}
{% block javascripts %}
{{parent()}}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#table_id, #table_admin').DataTable({
            "bDestroy": true,
            language: {
                processing: "Traitement en cours...",
                search: "Rechercher&nbsp;:",
                lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                infoPostFix: "",
                loadingRecords: "Chargement en cours...",
                zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                emptyTable: "Aucune donnée disponible dans le tableau",
                paginate: {
                    first: "Premier",
                    previous: "Pr&eacute;c&eacute;dent",
                    next: "Suivant",
                    last: "Dernier"
                },
                aria: {
                    sortAscending: ": activer pour trier la colonne par ordre croissant",
                    sortDescending: ": activer pour trier la colonne par ordre décroissant"
                }
            }
        });
    });
</script>
{% endblock %}
{% endblock %}